.container {
  transition: all 0.3s ease-in-out;
}

.layer {
  position: fixed;
  inset: 0;
  background: url('./assets/black-hole.webp') no-repeat top right / cover;
  background-size: 300px;
  opacity: 0.1;
}
